/* The checkbox-container */
.checkbox-container {
    width: 165px;
    margin: 0 auto;
}

@media only screen and (max-device-width: 767px) {
    .checkbox-container {
        width: 434px;
    }
}

.checkbox-holder {
    position: relative;
    padding-left: 1.5em;
    margin: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-holder input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-holder .checkmark {
    position: absolute;
    top: -0.125em;
    left: -0.125em;
    height: 1.5em;
    width: 1.5em;
    background-color: var(--paint-lighter2);
    border-radius: 0.25em;
}

/* On mouse-over, add a grey background color */
.checkmark-holder:hover input ~ .checkmark {
    background-color: var(--paint-lighter);
}

/* When the checkbox is checked, add a blue background */
.checkmark-holder input:checked ~ .checkmark {
    background-color: var(--paint-dark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-holder .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-holder input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-holder .checkmark:after {
    left: 0.4em;
    top: 0.1em;
    width: 0.5em;
    height: 0.75em;
    border: solid var(--paint-lightest);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
