
div.dropdown-container {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--paint-dark);
    border: solid 1.5px var(--border-color);
    margin-top: 0.25em;
}

div.dropdown-container select {
    width: 100%;
    font-family: Verdana;
    font-size: 1em;
    padding: 0.15em 0.5em;
    background: transparent;
    border: 0px solid var(--border-color);
    color: var(--text-color);
    text-overflow: ellipsis;
}

div.dropdown-container select option {
    background-color: var(--paint-dark);
}

div.dropdown-container.success-rate select {
    width: 93%;
}

div.dropdown-container.success-rate:before {
    background: url("res/successRateIcon.png") no-repeat;
    position: relative;
    height: 14px;
    content: "";
    left: 5px;
    display: inline-block;
    top: 1.2px;
    width: 14px;
    background-size: cover;
    background-position: center center;
}

div.dropdown-container.equipment-potential select {
    width: 93%;
}

div.dropdown-container.equipment-potential:before {
    background: url("res/equipmentPotentialIcon.png") no-repeat;
    position: relative;
    height: 14px;
    content: "";
    left: 5px;
    display: inline-block;
    top: 1.2px;
    width: 14px;
    background-size: cover;
    background-position: center center;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    div.dropdown-container.success-rate:before,
    div.dropdown-container.equipment-potential:before {
        width: 24px;
        height: 24px;
        top: 3px;
        left: 7px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    div.dropdown-container.success-rate:before,
    div.dropdown-container.equipment-potential:before {
        width: 16px;
        height: 16px;
        top: 2px;
        left: 7px;
    }
}

@media only screen and (max-device-width: 767px) {
    div.dropdown-container.success-rate:before,
    div.dropdown-container.equipment-potential:before {
        width: 40px;
        height: 40px;
        top: 5px;
        left: 10px;
    }
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
    div.dropdown-container.success-rate:before,
    div.dropdown-container.equipment-potential:before {
        width: 24px;
        height: 24px;
        top: 3px;
        left: 7px;
    }
}
