
div.dropdown-container {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--paint-dark);
    border: solid 1.5px var(--border-color);
    margin-top: 0.25em;
}

div.dropdown-container select {
    width: 100%;
    font-family: Verdana;
    font-size: 1em;
    padding: 0.15em 0.5em;
    background: transparent;
    border: 0px solid var(--border-color);
    color: var(--text-color);
    text-overflow: ellipsis;
}

div.dropdown-container select option {
    background-color: var(--paint-dark);
}