div.dropdown-container {
    /* display: inline-block; */
    width: 100%;
    border: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 1);
    border-top: solid 1.5px #404040;
    border-left: solid 1.5px #404040;
    border-right: solid 1.5px #404040;
    margin-top: 0.25em;
}

div.dropdown-container select {
    width: 100%;
    font-family: Verdana;
    font-size: 1em;
    padding: 0.15em 0.5em;
    background: transparent;
    border: 0px solid #ccc;
    color: white;
    text-overflow: ellipsis;
}

div.dropdown-container select option {
    background-color: rgba(105, 105, 105, 1);
}