
div.filtersearchcontainer * {
    box-sizing: border-box;
    color: var(--text-color);
}

div.filtersearchcontainer > div {
    padding-left: 0.5em;
}

div.filtersearchcontainer input.searchbar {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-color: var(--paint-dark);
    width: 100%;
    padding: 6px 10px 6px 20px;
    border: 1px solid var(--border-color);
    border-radius: 0.25em;
    margin-bottom: 0.5em;
}

div.filtersearchcontainer input::placeholder {
    color: var(--paint-lighter);
}

div.filtersearchcontainer input:focus {
    outline-color: var(--alter-paint-light);
}

div.filtersearchcontainer ul {
    list-style-type: none;
    padding: 1.5px 0px;
    margin: 0;
    height: 30em;
    overflow-y: auto;
    background-color: var(--paint-dark);
    border: 1.5px solid var(--border-color);
    border-radius: 0.25em;
}

div.filtersearchcontainer ul::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: var(--paint-dark);
}

div.filtersearchcontainer ul::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background-color: var(--border-color);
}

div.filtersearchcontainer ul::-webkit-scrollbar-corner {
    background-color: var(--paint-dark);
}

div.filtersearchcontainer li {
    white-space: normal;
}

div.filtersearchcontainer li div {
    border-top: 1.5px solid var(--border-color);
    border-bottom: 1.5px solid var(--border-color);
    margin-top: -1.5px; /* Prevent double borders */
    background-color: var(--paint-dark);
    padding: 0.15em 0.5em;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

div.filtersearchcontainer li:hover div {
    background-color: var(--paint-light);
}

div.filtersearchcontainer li div.selected {
    background-color: var(--alter-paint);
}

div.filtersearchcontainer li:hover div.selected {
    background-color: var(--alter-paint-light);
}

div.filtersearchcontainer li:first-of-type div {
    border-top: none;
}

div.filtersearchcontainer li:last-of-type div {
    border-bottom: none;
}

div.filtersearchcontainer li a:hover:not(.header) {
    background-color: var(--paint-light);
}
