
html {
    --app-font-size: 14px;
    --app-font-size-bigger: 16px;
    --app-font-size-biggest: 18px;
    --app-icon-font-size: 20px;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana;
    font-size: var(--app-font-size);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#js-disabled,
div.welcome {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#js-disabled > div:first-child,
div.welcome > div:first-child {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: var(--app-font-size-biggest);
}

#js-disabled > div:first-child > div:first-child,
div.welcome > div:first-child > div:first-child {
    display: table-cell;
    vertical-align: middle;
    padding: 0em 3.5em;
}

div.welcome div.content {
    text-align: center;
}

div.welcome div.content > div:first-child {
    display: inline-block;
}

div.welcome h1 {
    border-bottom: 2px solid var(--alter-paint);
    padding: 0em 1em 0.2em 1em;
}

div.welcome img {
    overflow: hidden;
    max-width: 100%;
    max-height: 50vh;
    margin: auto;
}

table.mgrid {
    table-layout: auto;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table.mgrid td {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1px;
    white-space: nowrap;
    padding-left: 5em;
}

table.mgrid td > div {
    display: inline-block;
    padding: 0.25em;
    margin: 0.25em;
}

div.header {
    position: fixed;
    height: 100%;
    width: 48px;
    text-align: center;
    margin-left: 0.5em;
    pointer-events: none;
}

div.header > div {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

div.header > div > div {
    display: table-cell;
    vertical-align: middle;
}

div.header div.option {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: var(--text-color);
    font-size: var(--app-icon-font-size);
    border-radius: 50%;
    pointer-events: auto;
}

div.header div.option:hover {
    background-color: var(--paint-darker-fade);
}

#editor {
    position: fixed;
    width: 100%;
    height: 100%;
}

#mastercontainer {
    display: inline-block;
    padding: 10em;
}

#mastercontainer > *:first-child {
    padding: 10em;
}

div.container {
    text-align: center;
}

div.page {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.35em;
    background-color: var(--paint-light);
    text-align: center;
    transition: 0.25s;
    border: 1px solid var(--border-color);
}

#goal {
    background-color: var(--paint-prime);
}

div.page > div:first-child {
    display:flex;
}

div.fodder {
    float: left;
    transition: 0.25s;
    margin-left: 0.5em;
}

div.fodder:first-child {
    margin-left: 0em;
}

div.title {
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: solid 1.5px var(--border-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.affix {
    width: 210px;
    padding: 0.15em 0.5em;
    background-color: var(--paint-dark);
    border-top: solid 1.5px var(--border-color);
    border-left: solid 1.5px var(--border-color);
    border-right: solid 1.5px var(--border-color);
}

div.affix:first-child {
    border-radius: 0.25em 0.25em 0em 0em;
}

div.affix:last-child {
    border-radius: 0em 0em 0.25em 0.25em;
    border-bottom: solid 1.5px var(--border-color);
}

div.page.despotlight {
    background-color: var(--paint-light-fade);
}

connection.despotlight,
div.page.despotlight > *:not(:first-child),
div.page.despotlight div.fodder:not(.spotlight) {
    opacity: 0.25;
}

connection {
    z-index: -1;
    border: 3px solid var(--conn-color);
    border-radius: 100%;
}

input[type="range"] {
    width: 24px;
    margin: 0;
    transform: translateY(-7px) rotate(270deg);
}

div.success-indicator {
    margin-top: 0.25em;
    padding-top: 0.25em;
    border-top: solid 1px var(--border-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.divider {
    margin: 0.25em 0em;
    border-top: solid 1.2px var(--border-color);
}

div.produce-button {
    padding: 0.15em 0.5em;
    background-color: var(--paint-dark);
    border: solid 1.5px var(--border-color);
    border-radius: 0.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.produce-button:not(.disabled) {
    cursor: pointer;
}

div.produce-button:not(.disabled):hover {
    background-color: var(--paint-light);
}

div.produce-button.disabled {
    opacity: 0.5;
}

div.boost-container {
    width: 100%;
    margin-top: 0.25em;
}

div.fodder > div.affix.special-ability-factor {
    margin-top: 0.25em;
    border-radius: 0.25em;
    border: solid 1.5px var(--border-color);
}

div.fodder > div.affix.special-ability-factor:before {
    background: url("res/specialAbilityFactorIcon.png") no-repeat;
    position: relative;
    height: 14px;
    content: "";
    left: -5px;
    display: inline-block;
    top: 1.2px;
    width: 14px;
    background-size: cover;
    background-position: center center;
}

div.fodder > div.affix.add-ability:before {
    background: url("res/addSpecialAbilityIcon.png") no-repeat;
    position: relative;
    height: 14px;
    content: "";
    left: -5px;
    display: inline-block;
    top: 1.2px;
    width: 14px;
    background-size: cover;
    background-position: center center;
}

div.affixes > div.affix.ssa:before {
    background: url("res/sclassSpecialAbilityIcon.png") no-repeat;
    position: relative;
    height: 14px;
    content: "";
    left: -5px;
    display: inline-block;
    top: 1.2px;
    width: 14px;
    background-size: cover;
    background-position: center center;
}

div.fodder > div.affix.add-ability {
    margin-top: 0.25em;
    border-radius: 0.25em;
    border: solid 1.5px var(--border-color);
}

div.title.bold {
    font-size: var(--app-font-size-bigger);
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 1em;
    background: var(--paint-light);
    outline: none;
    padding: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 16px;
    border-radius: 1em;
    background: var(--alter-paint);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border: none;
    width: 4px;
    height: 16px;
    background: var(--alter-paint);
    cursor: pointer;
}

div.affix-selection-container,
div.choice-selection-container,
div.formula-sheet-container,
div.link-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    transition: all 0.3s ease;
}

div.affix-selection-container.hidden,
div.choice-selection-container.hidden,
div.formula-sheet-container.hidden,
div.link-container.hidden {
    opacity: 0;
}

div.affix-selection-container > div,
div.choice-selection-container > div,
div.formula-sheet-container > div,
div.link-container > div {
    width: 75%;
    margin: 0 auto;
    height: 75%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--paint-light);
    border-radius: 0.5em;
    border: solid 1.5px var(--border-color);
    overflow: hidden;
    padding: 1em 2em;
}

div.affix-selection-container div.main-grid,
div.choice-selection-container div.main-grid,
div.formula-sheet-container div.main-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.affix-selection-container div.content,
div.choice-selection-container div.content,
div.formula-sheet-container div.content {
    width: 100%;
    height: 100%;
    padding: 0.5em 0em;
    margin: 0.5em 0em;
    overflow: auto;
}

div.affix-selection-container div.content > div {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 320px;
}

div.affix-selection-container div.content > div > div:first-child {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-right: 0.5em;
    min-width: 160px;
}

div.affix-selection-container div.content > div > div:last-child {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 0.5em;
    min-width: 160px;
}

div.affix-selection-container div.main-grid > div:last-child,
div.choice-selection-container div.main-grid > div:last-child {
    display: flex;
    width: 100%;
}

div.affix-selection-container div.selection-container {
    margin-bottom: 1em;
}

div.affix-selection-container .cancel-button,
div.choice-selection-container .cancel-button {
    background-color: var(--paint-dark);
    border-radius: 0.25em 0em 0em 0.25em;
    border: 1.5px solid var(--border-color);
    text-align: center;
    font-size: var(--app-font-size-bigger);
    font-weight: bold;
    padding: 0.35em 0em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40%;
    min-height: 19px;
}

div.affix-selection-container .cancel-button:hover,
div.choice-selection-container .cancel-button:hover {
    background-color: var(--paint-light);
}

div.affix-selection-container .confirm-button,
div.choice-selection-container .confirm-button,
div.formula-sheet-container .confirm-button,
div.link-container .confirm-button {
    background-color: var(--alter-paint);
    border-radius: 0em 0.25em 0.25em 0em;
    border: 1.5px solid var(--border-color);
    text-align: center;
    font-size: var(--app-font-size-bigger);
    font-weight: bold;
    padding: 0.35em 0em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60%;
    min-height: 19px;
}

div.affix-selection-container .confirm-button:hover,
div.choice-selection-container .confirm-button:hover,
div.formula-sheet-container .confirm-button:hover,
div.link-container .confirm-button:hover {
    background-color: var(--alter-paint-light);
}

div.affix-selection-container .confirm-button.disabled,
div.choice-selection-container .confirm-button.disabled {
    background-color: var(--paint-dark);
}

div.affix-selection-container div.affix,
div.choice-selection-container div.affix {
    width: 140px;
}

div.affix-selection-container div.affix.empty > i {
    display: none;
}

div.affix-selection-container div.affix > i:hover {
    color: var(--alter-paint);
}

div.affix-selection-container div.affix > i:hover ~ span {
    color: var(--alter-paint);
}

div.affix-selection-container div.affix > i {
    margin-right: 0.5em;
    cursor: pointer;
}

div.affix-selection-container div.stat {
    padding: 0.15em 0.5em;
}

div.affix-selection-container div.stats-viewer {
    overflow-y: auto;
    border-radius: 0.25em;
    background-color: var(--paint-dark);
    border: solid 1.5px var(--border-color);
}

div.affix-selection-container div.content::-webkit-scrollbar,
div.choice-selection-container div.content::-webkit-scrollbar,
div.formula-sheet-container div.content::-webkit-scrollbar,
div.link-container div.content::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content::-webkit-scrollbar-thumb,
div.choice-selection-container div.content::-webkit-scrollbar-thumb,
div.formula-sheet-container div.content::-webkit-scrollbar-thumb,
div.link-container div.content::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background-color: var(--border-color);
}

div.affix-selection-container div.content::-webkit-scrollbar-corner,
div.choice-selection-container div.content::-webkit-scrollbar-corner,
div.formula-sheet-container div.content::-webkit-scrollbar-corner,
div.link-container div.content::-webkit-scrollbar-corner {
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content > div::-webkit-scrollbar,
div.choice-selection-container div.content > div::-webkit-scrollbar,
div.formula-sheet-container div.content > div::-webkit-scrollbar,
div.link-container div.content > div::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content > div::-webkit-scrollbar-thumb,
div.choice-selection-container div.content > div::-webkit-scrollbar-thumb,
div.formula-sheet-container div.content > div::-webkit-scrollbar-thumb,
div.link-container div.content > div::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background-color: var(--border-color);
}

div.affix-selection-container div.content > div::-webkit-scrollbar-corner,
div.choice-selection-container div.content > div::-webkit-scrollbar-corner,
div.formula-sheet-container div.content > div::-webkit-scrollbar-corner,
div.link-container div.content > div::-webkit-scrollbar-corner {
    background-color: var(--paint-dark);
}

div.choice-selection-container div.options {
    display: flex;
}

div.choice-selection-container div.options > div.checkbox-container {
    width: unset;
    margin: 0;
}

div.choice-selection-container div.content {
    display: flex;
    flex-wrap: nowrap;
}

div.choice-selection-container div.content > div {
    flex: 0 0 auto;
    width: 240px;
    height: 100%;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

div.choice-selection-container div.content > div:not(:last-child) {
    margin-right: 1em;
}

div.choice-selection-container div.content > div > div:nth-child(2) {
    margin-bottom: 1.5em;
}

div.choice-selection-container div.affix.selected {
    background-color: var(--alter-paint);
}

div.formula-sheet-container div.content {
    display: flex;
}

div.formula-sheet-container div.content > div {
    min-width: 160px;
    height: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

div.formula-sheet-container div.content > div:first-child {
    width: 40%;
    margin-right: 0.5em;
}

div.formula-sheet-container div.content > div:last-child {
    width: 60%;
    margin-left: 0.5em;
}

div.formula-sheet-container div.search-results-container {
    display: none;
}

div.formula-sheet-container .confirm-button,
div.link-container .confirm-button {
    width: 100%;
    border-radius: 0.25em;
}

div.link-container > div {
    height: auto;
}

div.link-container div.main-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.link-container .copy-button {
    background-color: var(--paint-dark);
    border-radius: 0.25em;
    border: 1.5px solid var(--border-color);
    text-align: center;
    font-size: var(--app-font-size-bigger);
    font-weight: bold;
    margin-bottom: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.link-container .copy-button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.35em 0em;
    color: var(--text-color);
    text-decoration: none;
    outline: 0;
}

div.link-container .copy-button:hover {
    background-color: var(--paint-light);
}

div.link-container input {
    width: 100%;
    background: var(--paint-dark);
    border: none;
    border-radius: 0.25em;
    padding: 0.5em 0em;
    margin: 0.5em 0em;
    overflow-x: auto;
    overflow-y: hidden;
    font-family: Verdana;
    font-size: var(--app-font-size);
    color: var(--text-color);
}

div.link-container input:focus {
    outline-color: var(--alter-paint-light);
}

div.link-container input::selection {
    background: var(--alter-paint-lighter);
}

@media only screen and (max-device-width: 767px) {
    html {
        --app-font-size: 42px;
        --app-font-size-bigger: 42px;
        --app-font-size-biggest: 46px;
        --app-icon-font-size: 56px;
    }

    div.header div.option {
        padding: 24px;
    }

    div.affix {
        width: 552px;
    }

    div.affix-selection-container > div,
    div.choice-selection-container > div,
    div.formula-sheet-container > div {
        width: 90%;
        height: 90%;
        padding: 5%;
    }

    div.link-container > div {
        width: 90%;
        padding: 5%;
    }

    div.affix-selection-container div.selection-container {
        overflow: auto;
    }

    div.affix-selection-container div.affix,
    div.choice-selection-container div.affix {
        width: 80%;
    }

    div.affixes > div.affix.ssa:before,
    div.fodder > div.affix.special-ability-factor:before {
        width: 40px;
        height: 40px;
        left: -10px;
        top: 5px;
    }

    div.affix-selection-container .cancel-button,
    div.choice-selection-container .cancel-button {
        height: 100%;
    }

    div.affix-selection-container .confirm-button,
    div.choice-selection-container .confirm-button,
    div.formula-sheet-container .confirm-button {
        height: 100%;
    }

    div.choice-selection-container div.content > div {
        width: 630px;
    }
}
