
body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana;
    font-size: 14px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-device-width: 767px) {
    body {
        font-size: 16px; /* Bigger font for mobile */
    }
}

#js-disabled {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#js-disabled > div:first-child {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 18px;
}

#js-disabled > div:first-child > div:first-child {
    display: table-cell;
    vertical-align: middle;
    padding: 0em 2em;
}

div.mgrid {
    display: grid;
    grid-template-columns: [col1-start] min-content [col2-start] auto;
    grid-template-rows: [row1-start] min-content [row2-start] min-content [row3-start] min-content [row4-start] min-content [row5-start] min-content [row6-start] min-content;
}

div.mgrid > *:first-child {
    grid-column: col1-start;
    margin-right: 5em;
}

div.mgrid > *:last-child {
    grid-column: col2-start;
}

div.mgrid > *:last-child > div.mgrid:first-child {
    grid-row: row1-start;
}

div.mgrid > *:last-child > div.mgrid:nth-child(2) {
    grid-row: row2-start;
}

div.mgrid > *:last-child > div.mgrid:nth-child(3) {
    grid-row: row3-start;
}

div.mgrid > *:last-child > div.mgrid:nth-child(4) {
    grid-row: row4-start;
}

div.mgrid > *:last-child > div.mgrid:nth-child(5) {
    grid-row: row5-start;
}

div.mgrid > *:last-child > div.mgrid:nth-child(6) {
    grid-row: row6-start;
}

div.header {
    position: fixed;
    height: 100%;
    width: 48px;
    text-align: center;
    margin-left: 0.5em;
    pointer-events: none;
}

div.header > div {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

div.header > div > div {
    display: table-cell;
    vertical-align: middle;
}

div.header div.option {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    pointer-events: auto;
}

div.header div.option:hover {
    background-color: var(--paint-darker-fade);
}

#editor {
    position: fixed;
    width: 100%;
    height: 100%;
}

#mastercontainer {
    width: 100%;
    height: 100%;
}

#mastercontainer > *:first-child {
    padding: 10em;
}

div.container {
    text-align: center;
}

div.page {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.35em;
    background-color: var(--paint-light);
    text-align: center;
    transition: 0.25s;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#goal {
    background-color: var(--paint-prime);
}

div.page > div:first-child {
    display:flex;
}

div.fodder {
    float: left;
    transition: 0.25s;
    margin-left: 0.5em;
}

div.fodder:first-child {
    margin-left: 0em;
}

div.title {
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: solid 1.5px var(--border-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.affix {
    width: 210px;
    padding: 0.15em 0.5em;
    background-color: var(--paint-dark);
    border-top: solid 1.5px var(--border-color);
    border-left: solid 1.5px var(--border-color);
    border-right: solid 1.5px var(--border-color);
}

div.affix:first-child {
    border-radius: 0.25em 0.25em 0em 0em;
}

div.affix:last-child {
    border-radius: 0em 0em 0.25em 0.25em;
    border-bottom: solid 1.5px var(--border-color);
}

div.page.despotlight {
    background-color: var(--paint-light-fade);
}

connection.despotlight,
div.page.despotlight > *:not(:first-child),
div.page.despotlight div.fodder:not(.spotlight) {
    opacity: 0.25;
}

connection {
    z-index: -1;
    border: 3px solid var(--conn-color);
    border-radius: 100%;
}

input[type="range"] {
    width: 24px;
    margin: 0;
    transform: translateY(-7px) rotate(270deg);
}

div.success-indicator {
    margin-top: 0.25em;
    padding-top: 0.25em;
    border-top: solid 1px var(--border-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.divider {
    margin: 0.25em 0em;
    border-top: solid 1.2px var(--border-color);
}

div.produce-button {
    padding: 0.15em 0.5em;
    background-color: var(--paint-dark);
    border: solid 1.5px var(--border-color);
    border-radius: 0.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.produce-button:hover {
    background-color: var(--paint-light);
}

div.boost-container {
    width: 100%;
    margin-top: 0.25em;
}

div.fodder > div.affix:last-child {
    margin-top: 0.25em;
    border-radius: 0.25em;
}

div.affix-selection-container,
div.choice-selection-container,
div.formula-sheet-container,
div.link-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    transition: all 0.3s ease;
}

div.choice-selection-container div.options {
    grid-row: row2-start;
    display: grid;
    grid-template-columns: [col1-start] max-content [col2-start] max-content;
}

div.choice-selection-container div.options > div.checkbox-container {
    width: unset;
}

div.affix-selection-container div.content,
div.formula-sheet-container div.content {
    overflow-x: auto;
    grid-column-gap: 1em;
    padding: 0.5em 0em;
    grid-row: row2-start;
    display: grid;
    overflow-y: hidden;
    grid-template-columns: [col1-start] 33% [col2-start] auto [col3-start];
    grid-template-rows: 100%;
    margin: 0.5em 0em;
}

div.link-container div.content {
    overflow-x: auto;
    padding: 0.5em 0em;
    grid-row: row2-start;
    display: grid;
    overflow-y: hidden;
    margin: 0.5em 0em;
}

div.choice-selection-container div.content {
    overflow-x: auto;
    grid-column-gap: 1em;
    padding: 0.5em 0em;
    grid-row: row3-start;
    display: grid;
    overflow-y: hidden;
    grid-template-columns: [col1-start] min-content [col2-start] min-content [col3-start] min-content [col4-start] min-content [col5-start] min-content [col6-start] min-content [col7-start] min-content [col8-start] min-content;
    grid-template-rows: 100%;
    margin: 0.5em 0em;
}

div.affix-selection-container div.content::-webkit-scrollbar,
div.choice-selection-container div.content::-webkit-scrollbar,
div.formula-sheet-container div.content::-webkit-scrollbar,
div.link-container div.content::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content::-webkit-scrollbar-thumb,
div.choice-selection-container div.content::-webkit-scrollbar-thumb,
div.formula-sheet-container div.content::-webkit-scrollbar-thumb,
div.link-container div.content::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background-color: var(--border-color);
}

div.affix-selection-container div.content::-webkit-scrollbar-corner,
div.choice-selection-container div.content::-webkit-scrollbar-corner,
div.formula-sheet-container div.content::-webkit-scrollbar-corner,
div.link-container div.content::-webkit-scrollbar-corner {
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content > div::-webkit-scrollbar,
div.choice-selection-container div.content > div::-webkit-scrollbar,
div.formula-sheet-container div.content > div::-webkit-scrollbar,
div.link-container div.content > div::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content > div::-webkit-scrollbar-thumb,
div.choice-selection-container div.content > div::-webkit-scrollbar-thumb,
div.formula-sheet-container div.content > div::-webkit-scrollbar-thumb,
div.link-container div.content > div::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background-color: var(--border-color);
}

div.affix-selection-container div.content > div::-webkit-scrollbar-corner,
div.choice-selection-container div.content > div::-webkit-scrollbar-corner,
div.formula-sheet-container div.content > div::-webkit-scrollbar-corner,
div.link-container div.content > div::-webkit-scrollbar-corner {
    background-color: var(--paint-dark);
}

div.affix-selection-container div.content > div:first-child {
    display: grid;
    height: 100%;
    grid-column: col1-start;
    grid-template-rows: [row1-start] 5.5% [row2-start] min-content [row3-start] 5.5% [row4-start] min-content;
    overflow: auto;
}

div.affix-selection-container div.content > div:last-child {
    display: grid;
    height: 100%;
    grid-column: col2-start;
    grid-template-rows: [row1-start] 5.5% [row2-start] 80.5%;
    overflow: auto;
}

div.formula-sheet-container div.content > div:first-child {
    display: grid;
    height: 100%;
    grid-column: col1-start;
    grid-template-rows: [row1-start] 5.5% [row2-start] 94.5%;
    overflow: auto;
}

div.formula-sheet-container div.content > div:last-child {
    display: grid;
    height: 100%;
    grid-column: col2-start;
    grid-template-rows: [row1-start] 5.5% [row2-start] 94.5%;
    overflow: auto;
}

div.choice-selection-container div.content > div {
    display: grid;
    height: 100%;
    grid-column: col1-start;
    grid-template-rows: [row1-start] 5% [row2-start] 10% [row3-start] 5% [row4-start] 80%;
    overflow: auto;
}

div.choice-selection-container div.content > div:first-child {
    grid-column: col1-start;
}

div.choice-selection-container div.content > div:nth-child(2) {
    grid-column: col2-start;
}

div.choice-selection-container div.content > div:nth-child(3) {
    grid-column: col3-start;
}

div.choice-selection-container div.content > div:nth-child(4) {
    grid-column: col4-start;
}

div.choice-selection-container div.content > div:nth-child(5) {
    grid-column: col5-start;
}

div.choice-selection-container div.content > div:nth-child(6) {
    grid-column: col6-start;
}

div.choice-selection-container div.content > div:nth-child(7) {
    grid-column: col7-start;
}

div.choice-selection-container div.content > div:nth-child(8) {
    grid-column: col8-start;
}

div.affix-selection-container div.content > div > div:first-child,
div.choice-selection-container div.content > div > div:first-child,
div.formula-sheet-container div.content > div > div:first-child {
    grid-row: row1-start;
    overflow: hidden;
}

div.formula-sheet-container div.content > div > div:last-child {
    grid-row: row2-start;
    overflow: hidden;
}

div.formula-sheet-container div.search-results-container {
    display: none;
}

div.affix-selection-container div.content > div:last-child > div:last-child {
    grid-row: row2-start;
}

div.affix-selection-container div.content > div:first-child > div:nth-child(2),
div.choice-selection-container div.content > div > div:nth-child(2) {
    margin-bottom: 1em;
    grid-row: row2-start;
}

div.affix-selection-container div.content > div:first-child > div:nth-child(3),
div.choice-selection-container div.content > div > div:nth-child(3) {
    grid-row: row3-start;
    overflow: hidden;
}

div.affix-selection-container div.content > div:first-child > div:nth-child(4),
div.choice-selection-container div.content > div > div:nth-child(4) {
    grid-row: row4-start;
}

div.affix-selection-container.hidden,
div.choice-selection-container.hidden,
div.formula-sheet-container.hidden,
div.link-container.hidden {
    opacity: 0;
}

div.affix-selection-container > div,
div.choice-selection-container > div,
div.formula-sheet-container > div {
    width: 75%;
    margin: 0 auto;
    height: 75%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--paint-light);
    border-radius: 0.5em;
    border: solid 1.5px var(--border-color);
    overflow: hidden;
    padding: 1em 2em;
}

div.link-container > div {
    width: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--paint-light);
    border-radius: 0.5em;
    border: solid 1.5px var(--border-color);
    overflow: hidden;
    padding: 1em 2em;
}

div.affix-selection-container div.main-grid,
div.formula-sheet-container div.main-grid,
div.link-container div.main-grid {
    display: grid;
    grid-template-rows: [row1-start] max-content [row2-start] auto [row3-start] max-content;
    height: 100%;
}

div.choice-selection-container div.main-grid {
    display: grid;
    grid-template-rows: [row1-start] max-content [row2-start] min-content [row3-start] auto [row4-start] max-content;
    height: 100%;
}

div.affix-selection-container div.main-grid > div:first-child,
div.choice-selection-container div.main-grid > div:first-child,
div.formula-sheet-container div.main-grid > div:first-child,
div.link-container div.main-grid > div:first-child {
    grid-row: row1-start;
}

div.affix-selection-container div.main-grid > div:last-child,
div.formula-sheet-container div.main-grid > div:last-child,
div.link-container div.main-grid > div:last-child {
    grid-row: row3-start;
    display: grid;
    grid-template-areas: 'col1 col2 col3';
}

div.choice-selection-container div.main-grid > div:last-child {
    grid-row: row4-start;
    display: grid;
    grid-template-areas: 'col1 col2 col3';
}

div.affix-selection-container .cancel-button,
div.choice-selection-container .cancel-button {
    background-color: var(--paint-dark);
    border-radius: 0.25em 0em 0em 0.25em;
    border: 1.5px solid var(--border-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0.35em 0em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.affix-selection-container .cancel-button:hover,
div.choice-selection-container .cancel-button:hover {
    background-color: var(--paint-light);
}

div.affix-selection-container div.main-grid > div:last-child > div:last-child,
div.choice-selection-container div.main-grid > div:last-child > div:last-child {
    grid-column: span 2;
}

div.formula-sheet-container div.main-grid > div:last-child > div:last-child,
div.link-container div.main-grid > div:last-child > div:last-child {
    grid-column: span 3;
}

div.affix-selection-container .confirm-button,
div.choice-selection-container .confirm-button,
div.formula-sheet-container .confirm-button,
div.link-container .confirm-button {
    background-color: var(--alter-paint);
    border-radius: 0em 0.25em 0.25em 0em;
    border: 1.5px solid var(--border-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0.35em 0em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.affix-selection-container .confirm-button:hover,
div.choice-selection-container .confirm-button:hover,
div.formula-sheet-container .confirm-button:hover,
div.link-container .confirm-button:hover {
    background-color: var(--alter-paint-light);
}

div.link-container .copy-button {
    background-color: var(--paint-dark);
    border-radius: 0.25em;
    border: 1.5px solid var(--border-color);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.link-container .copy-button a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.35em 0em;
    color: var(--text-color);
    text-decoration: none;
    outline: 0;
}

div.link-container .copy-button:hover {
    background-color: var(--paint-light);
}

div.formula-sheet-container .confirm-button,
div.link-container .confirm-button {
    border-radius: 0.25em;
}

div.link-container input {
    background: var(--paint-dark);
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
}

div.choice-selection-container div.affix.selected {
    background-color: var(--alter-paint);
}

div.affix-selection-container .confirm-button.disabled,
div.choice-selection-container .confirm-button.disabled {
    background-color: var(--paint-dark);
}

div.affix-selection-container div.affix,
div.choice-selection-container div.affix {
    width: 140px;
}

div.affix-selection-container div.affix.empty > i {
    display: none;
}

div.affix-selection-container div.affix > i:hover {
    color: var(--alter-paint);
}

div.affix-selection-container div.affix > i:hover ~ span {
    color: var(--alter-paint);
}

div.affix-selection-container div.affix > i {
    margin-right: 0.5em;
    cursor: pointer;
}

div.affix-selection-container div.stat {
    padding: 0.15em 0.5em;
    background-color: var(--paint-dark);
    border-left: solid 1.5px var(--border-color);
    border-right: solid 1.5px var(--border-color);
}

div.affix-selection-container div.stat:first-of-type {
    border-radius: 0.25em 0.25em 0em 0em;
    border-top: solid 1.5px var(--border-color);
}

div.affix-selection-container div.stat:last-of-type {
    border-radius: 0em 0em 0.25em 0.25em;
    border-bottom: solid 1.5px var(--border-color);
}

div.title.bold {
    font-size: 16px;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 1em;
    background: var(--paint-light);
    outline: none;
    padding: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 16px;
    border-radius: 1em;
    background: var(--alter-paint);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border: none;
    width: 4px;
    height: 16px;
    background: var(--alter-paint);
    cursor: pointer;
}