.theme--default {
    --background-color: #111;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --paint-lightest: #fff;
    --paint-lighter2: #fff;
    --paint-lighter: #ddd;
    --paint-light: #808080;
    --paint-light-fade: rgba(128, 128, 128, 0.25);
    --paint-dark: #696969;
    --paint-dark-fade: rgba(105, 105, 105, 0.25);
    --paint-darker-fade: rgba(40, 40, 40, 0.75);
    --paint-prime: #CFB53B;
    --conn-color: #d62;
    --alter-paint: #d62;
    --alter-paint-light: #FF7C29;
    --alter-paint2: #547FE8;
    --border-color: #404040;
    --text-color: #fff;
}

.theme--bright {
    --background-color: #ffffff;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --paint-lightest: #242729;
    --paint-lighter2: #eff0f1;
    --paint-lighter: #E4E6E7;
    --paint-light: #fafafb;
    --paint-light-fade: rgba(242, 244, 247, 0.25);
    --paint-dark: #eff0f1;
    --paint-dark-fade: rgba(224, 229, 238, 0.25);
    --paint-darker-fade: rgba(62, 63, 65, 0.25);
    --paint-prime: #ffb935;
    --conn-color: #F48024;
    --alter-paint: #ffb935;
    --alter-paint-light: #FFC05C;
    --alter-paint2: #547FE8;
    --border-color: #939A9F;
    --text-color: #242729;
}